{% extends 'base.html.twig' %}

{% block title %}Nouvelle Recette{% endblock %}

{% block body %}
    <style>
        body {
            background-color: #FF7043;
        }
    </style>
    <div class="container mx-auto p-6 max-w-lg mt-10">
        {{ include('recette/_form.html.twig') }}
    </div>
{% endblock %}
