<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Encore CSS etiketleri #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
         <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2g2SjX3Q543j1JvH5f+a5G15m6/g56L5E3z3n6M5f5w5/b5A6/5r5y5Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>
        {% block body %}{% endblock %}

        {# Encore JavaScript etiketleri #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
