<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Encore CSS etiketleri #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
         <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">

    </head>
    <body>
        {% block body %}{% endblock %}

        {# Encore JavaScript etiketleri #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
